materialDesignExample.aux
materialDesignExample.log
materialDesignExample.nav
materialDesignExample.out
materialDesignExample.snm
materialDesignExample.toc
texput.log
.materialDesignExample.tex.swp
.fuse_hidden000001a300000001
main.aux
main.fdb_latexmk
main.fls
main.log
main.nav
main.out
main.pdf
main.snm
main.synctex.gz
main.toc
materialDesignExample.synctex.gz
main.pyg
main.bcf
main.run.xml
